 body {
        padding: 0;
        margin: 0;
    }

    #wangzhanshouye {
        font-size: 18px;
        color:blue;
        margin-left: 100px;
    }

    #chanpingzhongxin {
        font-size:18px;
        margin-left: 50px;
    }

#wenzi {font-size: 24px;
        color:red;

}

.yewubeijing {
    background: #fff;
    height: 140px;
}

.qianzhen {
    text-align: center;
/*    居中*/
    top: 15px;
}

.yewu {
    background: red
}

#qianzhenziti {
    font-size:12px;
}

.tuijianxianlu {
    font-size: 24px;
     text-align: center;
    margin-top: 10px;

}

#ziti1 {
     font-size: 8px;
     text-align: center;
}

#suibian {
    position: relative;
    margin-top: 10px;
/*    往下移*/

}

.tuijianxianlubeijing {
    height: 650px;
    background: #fff;
}

.tuijianxianlubeijing1 {
     height:380px;
    background: #08b3ff;
}

#ziti {
      font-size: 8px;
     text-align: center;
}

.weizhi {
     position: relative;
    margin-top: 30px;

}


.dingzhi {
    font-size:24px;
     text-align: center;

}

#dingzhi {
    font-size: 18px;
    color: #fff;
}

.dingzhi2 {
     font-size:12px;

}

#dingzhi2 {
     font-size:8px;
    color: #fff;

}



#anniu {
    text-align: center;
}

#anniu1 {
    display: inline-block;
}

.anniu1 {
    font-size: 8px;
    color: #fff;
       margin-top: 15px;

}

.anniu1 {
    font-size: 24px;
     text-align: center;

}

.tuijianxianlubeijing2 {
     height:400px;
    background: #e6e6e6;


}

#dingzhi1 {
        font-size: 18px;
    color: #000;
}

#dingzhi3 {
      font-size: 18px;
    margin-top: 10px;
    color:#08b3ff;
}

#gonglue1 {
    font-size: 8px;
    text-align: center;
 margin-top: 30px;
}

#gonglue {   font-size: 8px;
    text-align: center;
    margin-top: 0px;}
}

}

.weizhi {

}

.weizhi2 {
    margin-top: 50px;
}

.anniu {
      font-size: 24px;
    color: #fff;
       margin-top: 15px;

}

.anniu1 {
      font-size: 16px;
    color: #fff;
       margin-top: 15px;

}

.guanyu {
      text-align: center;
}

.shangyi {
    margin-top: -350px;
}

.jianju {
    margin-right: 200px;
}

.xuanzeziti {
    margin-top:
        10px;
}

.tuijianxianlubeijing3 {
       height:400px;
    background: #dbdbe0
}
